build/
sdkconfig
sdkconfig.old
sdkconfig.rename

.espressif/
managed_components/
dependencies.lock
__pycache__/
*.py[cod]
*$py.class

.devcontainer/
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
.eclipse/
.settings/
.project
.cproject

*.bak
*.swp
*~
.DS_Store